<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wassili.mealsonwheels.dal.mapper.OrdersMapper" >
  <resultMap id="BaseResultMap" type="com.wassili.mealsonwheels.dal.model.Orders" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="ITEM_ID" property="itemId" jdbcType="INTEGER" />
    <result column="ITEM_NAME" property="itemName" jdbcType="VARCHAR" />
    <result column="ITEM_NUM" property="itemNum" jdbcType="INTEGER" />
    <result column="ITEM_PRICE" property="itemPrice" jdbcType="INTEGER" />
    <result column="AMOUNT" property="amount" jdbcType="INTEGER" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="CRT_TIME" property="crtTime" jdbcType="DATE" />
    <result column="UPT_TIME" property="uptTime" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, ITEM_ID, ITEM_NAME, ITEM_NUM, ITEM_PRICE, AMOUNT, USER_ID, CRT_TIME, UPT_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ORDERS
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ORDERS
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wassili.mealsonwheels.dal.model.Orders" >
    insert into ORDERS (ID, ITEM_ID, ITEM_NAME, 
      ITEM_NUM, ITEM_PRICE, AMOUNT, 
      USER_ID, CRT_TIME, UPT_TIME)
    values (#{id,jdbcType=INTEGER}, #{itemId,jdbcType=INTEGER}, #{itemName,jdbcType=VARCHAR}, 
      #{itemNum,jdbcType=INTEGER}, #{itemPrice,jdbcType=INTEGER}, #{amount,jdbcType=INTEGER}, 
      #{userId,jdbcType=VARCHAR}, #{crtTime,jdbcType=DATE}, #{uptTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.wassili.mealsonwheels.dal.model.Orders" >
    insert into ORDERS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="itemId != null" >
        ITEM_ID,
      </if>
      <if test="itemName != null" >
        ITEM_NAME,
      </if>
      <if test="itemNum != null" >
        ITEM_NUM,
      </if>
      <if test="itemPrice != null" >
        ITEM_PRICE,
      </if>
      <if test="amount != null" >
        AMOUNT,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="crtTime != null" >
        CRT_TIME,
      </if>
      <if test="uptTime != null" >
        UPT_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="itemId != null" >
        #{itemId,jdbcType=INTEGER},
      </if>
      <if test="itemName != null" >
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemNum != null" >
        #{itemNum,jdbcType=INTEGER},
      </if>
      <if test="itemPrice != null" >
        #{itemPrice,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="crtTime != null" >
        #{crtTime,jdbcType=DATE},
      </if>
      <if test="uptTime != null" >
        #{uptTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wassili.mealsonwheels.dal.model.Orders" >
    update ORDERS
    <set >
      <if test="itemId != null" >
        ITEM_ID = #{itemId,jdbcType=INTEGER},
      </if>
      <if test="itemName != null" >
        ITEM_NAME = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemNum != null" >
        ITEM_NUM = #{itemNum,jdbcType=INTEGER},
      </if>
      <if test="itemPrice != null" >
        ITEM_PRICE = #{itemPrice,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        AMOUNT = #{amount,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="crtTime != null" >
        CRT_TIME = #{crtTime,jdbcType=DATE},
      </if>
      <if test="uptTime != null" >
        UPT_TIME = #{uptTime,jdbcType=DATE},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wassili.mealsonwheels.dal.model.Orders" >
    update ORDERS
    set ITEM_ID = #{itemId,jdbcType=INTEGER},
      ITEM_NAME = #{itemName,jdbcType=VARCHAR},
      ITEM_NUM = #{itemNum,jdbcType=INTEGER},
      ITEM_PRICE = #{itemPrice,jdbcType=INTEGER},
      AMOUNT = #{amount,jdbcType=INTEGER},
      USER_ID = #{userId,jdbcType=VARCHAR},
      CRT_TIME = #{crtTime,jdbcType=DATE},
      UPT_TIME = #{uptTime,jdbcType=DATE}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>